<header class="main_header d-flex">
    <h3 class="header_title">{{title}}</h3>
    <div class="navbarItem">
        <button mat-icon-button><mat-icon>home</mat-icon></button>
        <button mat-icon-button><mat-icon>list</mat-icon></button>
        <button mat-icon-button><mat-icon>settings</mat-icon></button>
    </div>
</header>

<!-- <mat-toolbar color="primary" class="main_header">
    <h3 class="header_title">{{title}}</h3>
    <div class="navbarItem">
        <button mat-icon-button><mat-icon>home</mat-icon></button>
        <button mat-icon-button><mat-icon>list</mat-icon></button>
        <button mat-icon-button><mat-icon>settings</mat-icon></button>
    </div>
</mat-toolbar> -->